/* colors */
/*font sizes*/
body {
  font-family: "League Spartan", sans-serif;
  margin: 0;
}

.headerContainer {
  background: url(./images/homepage/hero-bg-mobile@2x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 748px;
}
@media (min-width: 575px) {
  .headerContainer {
    background: url(./images/homepage/hero-bg-tablet@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 992px;
  }
}
@media (min-width: 1067px) {
  .headerContainer {
    background: url(./images/homepage/hero-bg-desktop@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 820px;
  }
}

.homeHeader {
  padding-top: 232px;
  color: #ffffff;
  width: 327px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.homeHeader h1 {
  font-size: 40px;
  letter-spacing: 1.5px;
}
.homeHeader h2 {
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.4px;
  width: 250px;
  margin: auto;
}
.homeHeader p {
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
}
.homeHeader .headerButton {
  background-color: #111111;
  color: #ffffff;
  width: 245px;
  height: 64px;
  margin-top: 40px;
  border: 1px solid #ffffff;
}
@media (min-width: 575px) {
  .homeHeader {
    padding-top: 374px;
    width: 573px;
  }
  .homeHeader h1 {
    font-size: 48px;
  }
  .homeHeader h2 {
    font-size: 48px;
    width: 300px;
    line-height: 64px;
  }
  .homeHeader p {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1067px) {
  .homeHeader {
    text-align: left;
    width: 445px;
    margin: 0;
    margin-left: 165px;
  }
  .homeHeader h1 {
    margin-top: -300px;
  }
  .homeHeader h2 {
    font-size: 80px;
    line-height: 80px;
    width: 508px;
    margin: 0;
    margin-top: 153px;
  }
  .homeHeader .headerButton {
    margin-top: 40px;
  }
}

button {
  font-family: "League Spartan", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2.5px;
}

.infoContainer {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -70px;
}
.infoContainer .infoPic {
  width: 327px;
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
}
.infoContainer .divider {
  padding-top: 48px;
}
.infoContainer h3 {
  font-size: 32px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
  letter-spacing: -0.4px;
  margin-bottom: 13px;
}
.infoContainer p {
  font-size: 16px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 100px;
  width: 327px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 575px) {
  .infoContainer {
    width: 573px;
  }
  .infoContainer .infoPic {
    width: 573px;
    height: 360px;
    position: relative;
  }
  .infoContainer h3 {
    font-size: 48px;
    width: 350px;
    line-height: 48px;
  }
  .infoContainer p {
    font-size: 20px;
    width: 457px;
  }
}
@media (min-width: 1067px) {
  .infoContainer {
    width: 80%;
  }
  .infoContainer .info1, .infoContainer .info2 {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    row-gap: 27px;
    margin-bottom: 121px;
    width: 100%;
  }
  .infoContainer .info2 .infoPic {
    grid-column: 2/3;
    margin-left: 125px;
  }
  .infoContainer .divider {
    padding-top: 40%;
    padding-bottom: 28px;
  }
  .infoContainer .infoPic {
    width: 540px;
    height: 720px;
    grid-row: 1/5;
  }
  .infoContainer h3 {
    margin: 0;
    width: 60%;
  }
  .infoContainer .info2 h3 {
    width: 100%;
  }
  .infoContainer .info1 h3, .infoContainer .info1 p, .infoContainer .info1 .divider {
    margin-left: 125px;
  }
  .infoContainer p {
    width: 80%;
    margin-left: 0;
    line-height: 30px;
  }
}

.highlights {
  background: #111111;
  color: #ffffff;
  text-align: center;
}
.highlights .hlDescription {
  width: 327px;
  margin: auto;
}
.highlights .hlDivider {
  padding-top: 72px;
}
.highlights h3 {
  font-size: 32px;
}
.highlights p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.highlights .menuPic {
  width: 327px;
  height: 245px;
}
.highlights h4 {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 36px;
}
.highlights .item {
  width: 327px;
  margin: auto;
  display: grid;
}
.highlights .menuDescription {
  margin-bottom: 28px;
}
.highlights hr {
  margin-bottom: 24px;
  width: 327px;
  background: #ffffff;
  opacity: 0.15;
}

@media (min-width: 575px) {
  .topRight {
    position: absolute;
    top: 1125px;
    left: -515px;
    z-index: -1;
  }
  .lines {
    position: absolute;
    top: 1917px;
    right: 5%;
    z-index: 1;
  }
  .topLeftSection {
    width: 384px;
    overflow: hidden;
    position: absolute;
    top: 2162px;
    margin-left: 384px;
    right: 0px;
  }
}
@media (min-width: 1067px) {
  .topRight {
    top: 1070px;
    left: 0;
  }
  .lines {
    top: 1873px;
    right: 3%;
  }
  .topLeftSection {
    width: 885px;
    top: 1911px;
    margin-left: 38.5%;
  }
}

/*# sourceMappingURL=styles.css.map */
