$font-stack: 'League Spartan', sans-serif;
/* colors */
$mirage: #17192b;
$cod-gray: #111111;
$ebony-clay: #242b37;
$shuttle-gray: #5c6779;
$white: #ffffff;
$tablet-breakpoint: 575px;
$desktop-breakpoint: 1067px;
/*font sizes*/
$font-size: (
    h1-mobile: 40px,
    h1-tablet-desktop: 48px,
    h2-mobile: 32px,
    h2-tablet: 48px,
    h2-desktop: 80px,
    h3-mobile: 32px,
    h3-tablet-desktop: 48px,
    h4-all: 20px,
    h5-all: 17px,
    h6-all: 14px,
    p-mobile: 16px,
    p-tablet-desktop: 20px,
    button-all: 17px
);
@function font-size($size){
    @return map-get($font-size, $size);
}
@mixin button-style($color: $cod-gray) {
    background-color: $color;
    color: $white;
    
}



body{
    font-family: $font-stack;
    margin: 0;
}
.headerContainer{
    background: url(./images/homepage/hero-bg-mobile@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 748px;

    @media(min-width: $tablet-breakpoint){
        background: url(./images/homepage/hero-bg-tablet@2x.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 992px
    }
    @media(min-width: $desktop-breakpoint){
        background: url(./images/homepage/hero-bg-desktop@2x.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 820px;
    }

}
.homeHeader{
    padding-top: 232px;
    color: $white;
    width: 327px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    h1{
        font-size: font-size(h1-mobile);
        letter-spacing: 1.5px;
    }
    h2{
        font-weight: 300;
        font-size: font-size(h2-mobile);
        line-height: 40px;
        letter-spacing: -.4px;
        width: 250px;
        margin: auto;
    }
    p{
        font-weight: 400;
        line-height: 26px;
        font-size: font-size(p-mobile);
    }
    @media(min-width: $tablet-breakpoint){
        padding-top: 374px;
        width: 573px;
        h1{
            font-size: font-size(h1-tablet-desktop);
        }
        h2{
            font-size: font-size(h2-tablet);
            width: 300px;
            line-height: 64px;
        }
        p{
            font-size: font-size(p-tablet-desktop);
            line-height: 30px;
        }
    }
    @media(min-width: $desktop-breakpoint){
        text-align: left;
        width: 445px;
        margin: 0;
        margin-left: 165px;
        h1{
            margin-top: -300px;
        }
        h2{
            font-size: font-size(h2-desktop);
            line-height: 80px;
            width: 508px;
            margin: 0;
            margin-top: 153px;
        }
        .headerButton{
            margin-top: 40px;
        }
    }   
}
.headerButton{
    @include button-style();
    width: 245px;
    height: 64px;
    margin-top: 40px;
    border: 1px solid $white;
}
button{
    font-family: $font-stack;
    font-size: font-size(button-all);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2.5px;
    
}
.infoContainer{
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -70px;
    .infoPic{
        width: 327px;
        box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
    }
    .divider{
        padding-top: 48px;
    }
    h3{
        font-size:font-size(h3-mobile);
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        line-height: 40px;
        letter-spacing: -.4px;
        margin-bottom: 13px;
    }
    p{
        font-size: font-size(p-mobile);
        line-height: 26px;
        margin-top: 0;
        margin-bottom: 100px;
        width: 327px;
        margin-left: auto;
        margin-right: auto;

    }
    @media(min-width: $tablet-breakpoint) {
        width: 573px;
        .infoPic{
            width: 573px;
            height: 360px;
            position: relative;
        }
        h3{
            font-size: font-size(h3-tablet-desktop);
            width: 350px;
            line-height: 48px;
        }
        p{
            font-size: font-size(p-tablet-desktop);
            width: 457px;
        }
    }
    @media(min-width: $desktop-breakpoint){
        width: 80%;
        .info1, .info2{
            display: grid;
            grid-template-columns: auto auto;
            text-align: left;
            row-gap: 27px;
            width: 100%;
        }
        .info1{
            margin-bottom: 121px;
        }
        .info2{
            margin-bottom: 0px;
        }
        .info2 .infoPic{
            grid-column: 2 / 3;
            margin-left: 125px;
            box-shadow: none;
        }
        .divider{
            padding-top: 40%;
            padding-bottom: 28px;
        }
        .infoPic{
            width: 540px;
            height: 720px;
            grid-row: 1 / 5;
        }
        h3{
            margin: 0;
            width: 60%;
        }
        .info2 h3{
            width: 100%;
        }
        .info1 h3, .info1 p, .info1 .divider{
            margin-left: 125px;
        }
        p{
            width: 80%;
            margin-left: 0;
            line-height: 30px;
        }
        
    }
}
.highlights{
    background: $cod-gray;
    color: $white;
    text-align: center;
    .hlDescription{
        width: 327px;
        margin: auto;
    }
    .hlDivider{
        padding-top: 72px;
    }
    h3{
        font-size: font-size(h3-mobile);
        
    }
    p{
        font-size: font-size(p-mobile);
        font-weight: 400;
        line-height: 26px;
    }
    .menuPic{
        width: 327px;
        height: 245px;
    }
    h4{
        font-size: font-size(h4-all);
        margin-bottom: 0;
        margin-top: 36px;
    }
    .item{
        width: 327px;
        margin: auto;
        display: grid;
    }
    .menuDescription{
        margin-bottom: 28px;
    }
    hr{
        margin-bottom: 24px;
        width: 327px;
        background: $white;
        opacity: .15;
    }
    @media(min-width: $tablet-breakpoint){
        .hlDivider{
            padding-top: 96px;
        }
        h3{
            font-size: font-size(h3-tablet-desktop);
            margin-bottom: 0;
        }
        .highlightDes{
            font-size: font-size(p-tablet-desktop);
            line-height: 30px;
            margin-bottom: 50px;
        }
        .hlDescription{
            width: 445px;
        }
        .item{
            width: 573px;
            grid-template-columns: 128px 32px 383px;
            column-gap: 0px;
            margin: auto;
            text-align: left;
        }
        .menuPic{
            grid-row: 1/3;
            width: 128px;
            height: 96px;
            position: relative;
            z-index: 1;
        }
        .menuLine{
            grid-row: 1/3;
            margin: 0;
            margin-top: 15px;
            margin-left: -40px;
            position: relative;
        }
        .menuItem{
            margin-top: 10px;
            margin-left: 30px;
        }
        .menuDes{
            margin-left: 30px;
        }
        hr{
            width: 573px;
        }
        @media(min-width: $desktop-breakpoint){
            display: grid;
            grid-template-columns: auto auto;
            margin-top: -80px;
            .hlDivider{
                padding-top: 60px;
            }
            .hlDescription{
                grid-row: 1/6;
                text-align: left;
                width: 460px;
            }
            .item:first-of-type{
                margin-top: 270px;
            }
        }
    }

}

@media(min-width: $tablet-breakpoint) {
    .topRight{
        position: absolute;
        top: 1125px;
        left: -515px;
        z-index: -1;
    }
    .lines{
        position: absolute;
        top: 1917px;
        right: 5%;
        z-index: 1;
    }
    .topLeftSection{
        width: 384px;
        overflow: hidden;
        position: absolute;
        top: 2162px;
        margin-left: 384px;
        right: 0px;
        z-index: -1;
    }
    
}
@media(min-width: $desktop-breakpoint){
    .topRight{
        top:1070px;
        left: 0;
    }
    .lines{
        top: 1873px;
        right: 3%;
    }
    .topLeftSection{
        width: 885px;
        top: 1911px;
        margin-left: 38.5%;
    }
}
.gatheringSection{
    width: 327px;
    margin:auto;
    text-align: center;
    position: relative;
    margin-top: 80px;
    .gatheringImg{
        width: 327px;
        height: 400px;
        box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
    }
    .linkSection{
        position: absolute;
        top: 440px;
        display: flex;
        flex-direction: column;
        width: 327px;
        margin: auto;
    }
    .links{
        text-decoration: none;
        text-transform: uppercase;
        font-size: font-size(button-all);
        line-height: 28px;
        margin-bottom: 16px;
        color: rgba(76, 76, 76, .5);
        font-weight: 600;
    }
    .links:active{
        color: rgba(76, 76, 76, 1);
    }
    .links:hover{
        color: rgba(76, 76, 76, 1);
    }
    
    .links[tabIndex]:focus{
        color: #4c4c4c;
        text-decoration: underline #9e7f66;
    }
    /*.links[tabindex]:focus:after{
        content: "";
        height: 1px;
        width: 48px;
        background: #9E7F66;
        position: absolute;
        left: 139px;
        bottom: 0;
    }*/
    .gatheringInfo{
        position: absolute;
        top: 550px;
    }
    .gatheringTitle{
        font-size:font-size(h3-mobile);
        color: $ebony-clay;
    }
    .gatheringDes{
        font-size: font-size(p-all);
        color: $ebony-clay;
        line-height: 26px;
        font-weight: 400;
        width: 327px;
    }
}
@media(min-width: $tablet-breakpoint) {
    .gatheringSection{
        margin-top: 0;
        width: 689px;

        .gatheringImg{
            width: 573px;
            height: 360px;
            margin-top: 120px
        }
        .linkSection{
            width: 689px;
            top: 520px;
            flex-direction: row;
            justify-content: space-around;
            margin-left: auto;
            margin-right: auto;
        }
        .gatheringInfo{
            width: 689px;
            margin-right: auto;
            margin-left: auto;
        }
        .gatheringTitle{
            font-size:font-size(h3-tablet-desktop);
        }
        .gatheringDes{
            width: 440px;
            margin-right: auto;
            margin-left: auto;
        }
    }
    
    .topRightGathering{
        position: absolute;
        top: 0;
        left: -550px;
        z-index: -1;
    }
    .linesGathering{
        position: absolute;
        top: 80px;
        left: -10px;
        z-index: 1;
    }
    
    
}


